@using ShenDeng.Framework.Tools
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>404</title>

    <link href="~/Content/css/404.css" rel="stylesheet" type="text/css" />

</head>
<body style="background-color:#f1f4f8;">
    
<div class="st"><img src="~/Content/img/404_03.png"></div> 
<div class="fh"><a href="~/Home/Index"><img src="~/Content/img/404_06.png"></a></div>
<div class="fh"><b id="num">5</b>秒后返回</div>
    @*@ViewData[Keys.ErrorReason]*@
<!--脚本开始--> 
<script> 
    function countDown(secs){ 
        if(--secs>0) {
            document.getElementById("num").innerText=secs;
            setTimeout(function(){countDown(secs)},1000);  
        }
        else{
            window.history.back(-1);  //返回上一个页面

        } 
    }
    countDown(5); 
</script> 
<!--脚本结束--> 

</body>
</html>
