
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" type="text/css" href="~/Content/css/component.css" />
<button class="act-but submit" type="button" onclick="location.href='Admin/Admin/ManageAccount'" style="width: 200px; color: #FFFFFF">账户管理</button>
<button class="act-but submit" type="button" onclick="location.href='Admin/Admin/ManageTools'" style="width: 200px; color: #FFFFFF">工具管理</button>